/** @format */
.vector1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.4rem;
}
.containerOne img {
  width: 18.375rem;
  height: 9.67969rem;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1.5rem 0 1.5rem;
}

.main h4 {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
}

.main p {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  font-style: normal;
  line-height: var(--primary-line-height);
}
.containerTwo .vector {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5.4rem;
}

.containerTwo img {
  width: 18.375rem;
  height: 10.24325rem;
  object-fit: contain;
}

@media (min-width: 1024px) {
  .containerTwo .seamless {
    height: 6.7rem;
  }

  .payments {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .payments .container1 {
    flex: 2;
  }

  .payments .container2 {
    flex: 1;
  }

  .investments .container1 {
    flex: 1;
  }
  .investments .container2 {
    flex: 2;
  }

  .investments .container1 img {
    height: 6.7rem;
  }

  .investments .container2 img {
    height: 8.2rem;
  }
  .investments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
