/** @format */
.container {
  border-radius: 0.5rem;
  border: 1px solid var(--stroke, rgba(255, 255, 255, 0.04));
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 1.5rem;
  padding: 1.5rem 0 1.5rem 0;
  overflow: hidden;
}

@media (min-width) {
  .container {
    margin: 4.5rem 1.5rem;
  }
}
