/** @format */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem 6rem;
}

.container .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
