/** @format */


 img {
  width: 18.375rem;
  height: 9.67969rem;
  flex-shrink: 0;
  margin: 2.31rem 1.5rem;
}

 .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

 .main h4 {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 1.5rem;
}

 .main p {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  font-style: normal;
  line-height: var(--primary-line-height);
}

