/** @format */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

.container h4 {
  font-style: var(--primary-font-style);
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-family: var(--primary-font-family);
}

.container section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.75rem;
  width: 100%;
}
