/** @format */

:root {
  --primary-font: -apple-system, BlinkMacSystemFont, sans-serif;
  --primary-text-color: #989898;
  --primary-line-height: 24px;
  --primary-background-color: #070606;
  --primary-font-weight: 400;
  --primary-font-size: 16px;

  --secondary-text-color: #fff;
  --secondary-font-weight: 400;
  --secondary-line-height: normal;
  --secondary-font-size: 32px;
}
